<!-- navbar -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/home">
                <a class="navbar-brand" href="{{lien}}"><span class="icon-af {{logo}}"></span>  {{seat}}</a>

            </a>
        </div>
    </div>
</nav>

<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li ng-if="locA"><a href="/#/home">Accueil</a></li>
    <li class="active">{{loc}}</li>
</ol>

<!-- content -->
<div class="content">
    <div class="menu">
        <div class="menu-header h4">Services disponibles</div>
        <ul class=" nav nav-stacked">
            <li role="presentation" data-ng-repeat="service in services">
                <a ui-sref="{{service.url}}">{{ service.title }}<span class="{{service.icon}}"></span></a>

            </li>
        </ul>
    </div>
</div>

