<div class="content">

    <div class="menu">
        <div class="btn-group col-sm-12" role="group">
        <div class="row">
            <a class="btn btn-info" type="button" href="#/pnc">Service</a>
        </div>   
    </div>
        
        	<div class="container-fluid">
                
               <ul class="seat-map">
                    <li role="plan" data-ng-repeat="seatMapView in security.seatMapView">
                        <img ng-if="!seatMapView.seat.occuped" src="/public/img/seat_grey.gif"/>
                        <img ng-if="seatMapView.seat.occuped && seatMapView.seat.belted" src="/public/img/seat_green.gif"/>
                        <img ng-if="seatMapView.seat.occuped && !seatMapView.seat.belted" src="/public/img/seat_red.gif"/>
                                                    
                </ul>
                    
                
                <br/>
                
                
                <div >
                    <table class="table">
                        <thead>
                            <tr>
                                <th><b>Sécurité en vol</b></th>
                                <th><b>Occupation théorique</b></th>
                                <th><b>Occupation effective</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Sièges</th>
                                <td>
                                     3 sièges occupés<br />
                                     0 sièges innocupés
                                </td>
                                <td>
                                    3 sièges occupés<br />
                                    0 sièges innocupés
                                </td>
                            </tr>
                            <tr>
                                <th>Ceintures</th>
                                <td>
                                    3 ceintures bouclées<br />
                                    0 ceintures débouclées
                                </td>
                                <td>
                                    3 ceintures bouclées<br />
                                    0 ceintures débouclées
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
             
              
            </div>
