<!-- navbar -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/home">
                <a class="navbar-brand" href="{{lien}}"><span class="icon-af {{logo}}"></span>  {{seat}}</a>

            </a>
        </div>
    </div>
</nav>

<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li ng-if="locA"><a href="/#/home">Accueil</a></li>
    <li class="active">{{loc}}</li>
</ol>

<div class="content">
    <div class="menu">
        <div class="menu-header h4">Informations</div>
        <form class="form-group" role="form">
            <div class="list-group">
                <label for="text" class="control-label">Genre :</label>
                <input id="text" name="text" type="text" required class="form-control" placeholder="Insert your text ..." ng-model="identity.gender">
            </div>
            <div class="list-group">
                <label for="textpattern" class="control-label">Prénom :</label>
                <input id="text" name="text" type="text" required class="form-control" placeholder="Insert your text ..." ng-model="identity.firstname">
            </div>
            <div class="list-group">
                <label for="textpattern" class="control-label">Nom :</label>
                <input id="text" name="text" type="text" required class="form-control" placeholder="Insert your text ..." ng-model="identity.name">
            </div>

            <div class="list-group">
                <label for="email" class="control-label">Email element</label>
                <input type="email" id="email" name="email" placeholder="jeandupont@monmail.fr" required class="form-control">
            </div>
            <div class="list-group">
                <label for="numeric" class="control-label">number element</label>
                <input type="number" name="numeric" id="numeric" value="06 12 34 56 78" class="form-control">
            </div>
            <div class="list-group">
                <label for="date" class="control-label">Date format</label>
                <input type="date" name="date" id="date" value="2012-03-01" class="form-control">
            </div>
            <div class="list-group">
                <label for="range" class="control-label">Slider</label>
                <input type="range" name="range" id="slider" class="slider" min="0" max="20" step="1" value="0"  class="form-control">
            </div>
            
        </form>
    </div>
</div>





